.terms {

  h2, h3 {
    margin-top: 30px;
  }

  h1 {
    font-size: 30px;
    color: #484848;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-family: $font-family-body;
    font-size: 15px;
    color: #333;
    font-weight: 700;
  }

  p {
    margin-top: 8px;
    margin-bottom: 15px;
  }

  ul {
    margin-left: 3em;
    li {
      list-style-type: disc;
    }
  }

  .total-bot {
    border-bottom: 3px double black;
  }

  .total-top {
    border-top: 1px solid black;
  }

  .term-center {
    text-align: center;
  }

  .terms-menu {
    padding-top: 9em;
    width: 220px;
    float: left;
    position: fixed;
    word-wrap:break-word;

    ul {
      margin-left: 0;

      li {
        list-style-type: none;
      }
    }
  }

  .terms-content {
    padding-top: 10em;
    width: 75%;
    float: right;
  }

}

@media screen and (max-width: 1050px) {
  .terms {
    .terms-menu, .terms-content {
      position: inherit;
      float: left;
      width: 100%;
    }
  }
}
