---
layout: terms
title: Go99 - Data and Privacy Policy
---

<h1>Location Data Policy</h1>
<p>
Policy Title:  Data and Privacy<br>
Department:  Business Operations<br>
Last updated: 01 November 16, 10:06:11 AM<br>
Contact Centre: 1-888-988-1099<br>
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.<br>
    Go99™ utilizes best-in-class location services for mobile users and presents real-time data to users during their business operations (each transaction is identified uniquely) and records and transfers the data to the user’s account on the Go99™ App.
  </li>
  <li>
    <h3>Data Collected</h3>
    Go99™ collects the following kinds of data:<br>
    • Location (Longitude & Latitude)<br>
    The Go99™ App also collects additional data (e.g. date, time, firmware version) to assist data processing.
  </li>
  <li>
    <h3>When data is collected</h3>
    Go99™ begins collecting data as soon as the device receives a GPS fix or location fix. When the user is expected to pick up a load, Go99™ will search for a location fix and start collecting location data. Once the receiver has signed off and the driver completed the transaction in the App, Go99™ will stop collecting location data.
  </li>
  <li>
    <h3>How data is stored</h3>
    The Go99™ App collects data in a proprietary format, on cloud servers.
  </li>
  <li>
    <h3>User control</h3>
    Users can register to have their account deleted and made inactive at any time by contacting our operations Contact Centre or through the App.
  </li>
  <li>
    <h3>Security</h3>
    Go99™ uses industry standard technologies (including the SSL (Secure Sockets Layer) protocol and data encryption) to protect data communications with the Go99™ systems and the App.
  </li>
  <li>
    <h3>Data Retention</h3>
    Go99™ keeps information regarding the App transactions only for as long as the information is reasonably required for legitimate business purposes and for legal compliance purposes. Go99™ then either securely deletes information or removes all personally identifiable information to anonymize the information.
  </li>
</ol>
