---
layout: terms
title: Go99 Location Data Policy
---

<h1>Location Data Policy</h1>
<p>
Policy Title: Location Data<br>
Department: Business Operations<br>
Last updated: 08 November 16, 10:38:15 AM<br>
Contact Centre: 1-888-988-1099<br>
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.<br>
    Go99™ utilizes best-in-class location services for mobile users and presents real-time data to users during their business operations (each transaction is identified uniquely) and records and transfers the data to the user’s account on the Go99™ App.
  </li>
  <li>
    <h3>User Control</h3>
    If you create an account through the App, you will be able to login and modify your account and profile details, including your contact and financial information.<br>
    If you register to receive promotional emails from Go99™, you can unsubscribe from the promotional emails at any time by clicking “unsubscribe” at the bottom of any promotional email you receive from Go99™.<br>
    You can register to have your account deleted and made inactive at any time by contacting our operations Contact Centre.
  </li>
</ol>
