---
layout: terms
title: Go99 - Data and Privacy Policy
---
<h1>#Member Privacy</h1>
<h3>Last updated: 16 March 17, 11:02:45 AM</h3>
<p>The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively &ldquo;The App&rdquo; or &ldquo;<em>Go99</em>&trade;&rdquo;).</p>
<h2>Personal Information</h2>
<p>&ldquo;Personal Information&rdquo; is information that can be associated with a specific person and could be used to identify that specific person whether from that information or other information that <em>Go99</em>&trade; has or is likely to have access to. We do not consider personal information to include information that has been made anonymous or aggregated so that it can no longer be used to identify a specific person, whether in combination with other information or otherwise.</p>
<h2>Summary</h2>
<p>The App requires Members to provide their personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver&rsquo;s licence number and payment information) in order to create an account and begin interacting with the Marketplace.</p>
<p>Personal information collected through the App is used by <em>Go99</em>&trade; and its service providers to manage accounts and process orders and related transactions. <em>Go99</em>&trade; does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.</p>
<h3>Collection</h3>
<p>We collect, process, and retain personal information from you and any devices (including mobile devices) you may use when you: use our Services, register for an account with us, provide us information on a web form, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise communicate with us regarding our Services.</p>
<h3>Use and Retention</h3>
<p>We use the personal information we collect to: provide and improve our Services, provide you with a personalized experience on our sites (especially, by offering you services and items that you may require), contact you about your account and our Services, provide you customer service, provide you with personalized advertising and marketing, and monitor that use of our services is in accordance with the applicable General terms of Service.</p>
<p>We retain your personal information as long as it is necessary and relevant for our operations. In addition, we may retain personal information from closed accounts to comply with applicable laws and requirements of government authorities and law enforcement agencies, collect any fees owed, resolve disputes, troubleshoot problems, enforce the General Terms of Service and take other actions permitted or required by applicable national laws.</p>
<h3>Choice</h3>
<p>You have a choice about how we use your personal information to communicate with you, send you marketing information, and provide you with personalized advertising, and whether you want to stay signed into your account.</p>
<h3>Access</h3>
<p>It is your responsibility to ensure that the personal information that you provide us is accurate and up to date. We ensure that you have the ability to access it and make corrections to it.</p>
<h3>Disclosure</h3>
<p>We may disclose your personal information to third parties. It may also be required of to disclose this information in accordance within the bounds of the authorised Use and Retention outlined above.</p>
<p>We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.</p>
<h3>Change of Ownership</h3>
<p>If we were to merge with or be acquired by another company, we may share information with them.</p>
<h3>Security</h3>
<p>We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.</p>
<h3>Questions or Complaints</h3>
<p>If you have a question or a complaint about this Privacy Notice or our information handling practices, you can reach our Privacy Office in writing by sending us a letter or postcard to: <em>Go99&trade; </em>Operations Ltd. 38 Fell Ave, Suite #301, North Vancouver, British Columbia, V7P 3S2 Canada or send email to privacy@<em> Go99</em>.ca.</p>
<h2>Scope and Consent</h2>
<p>This Privacy Notice describes our collection, use, disclosure, retention, and protection of your personal information. It applies to any <em>Go99</em>&trade; site and to any <em>Go99</em>&trade; application, service, or tool (collectively "Services"), regardless of how you access or use them, including through mobile devices.</p>
<p>As set out in our General terms of Service, by using our Services and/or registering for an account with us, you are consenting to our collection, use, disclosure, retention, and protection of your personal information as described in this Privacy Notice. If you do not provide the information we require, we may not be able to provide all of our Services to you.</p>
<h2>Changes to this Notice</h2>
<p>We may amend this Privacy Notice at any time by posting the amended terms on this site. All amended terms automatically take effect 30 days after they are posted. We will announce any material changes to this Privacy Notice through the <em>Go99</em>&trade; Message Center and/or via email.</p>
<h2>Collection</h2>
<p>We collect, process, and retain personal information from you and any devices (including mobile devices) you may use when you: use our Services, register for an account with us, provide us information on a web form, are carrying or delivering a load (1 hour before pick-up until delivery sign-off) &ndash; even if you are not &ldquo;using&rdquo; the app, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise correspond with us regarding our Services.</p>
<p>The personal information we collect includes the following:</p>
<ul>
<li>Personal information you give us when you use our Services or register for an account with us</li>
<li>Personal information we collect automatically when you use our Services or register for an account with us</li>
<li>Identifying information such as your name, addresses, telephone numbers or email addresses when you register for an account with us</li>
<li>Quoting information you provide during a transaction, or other transaction-based content that you generate or that is connected to your account as a result of a transaction you are involved in</li>
<li>Other content that you generate, or that is connected to your account (such as mileage, locations, transaction values and quote values)</li>
<li>Financial information (such as credit card or bank account numbers) in connection with a transaction</li>
<li>Additional information we are required or authorized by applicable laws to collect and process in order to authenticate or identify you or to verify the information we have collected</li>
</ul>
<p>We also collect information about your interaction with our Services, your advertising preferences, and your communications with us. This is information we receive from the devices (including mobile devices) you use when you use our Services, or interact with the <em>Go99</em>&trade; marketplace. This information comprises the some or more of the following:</p>
<ul>
<li>Device ID or unique identifier, device type, ID for advertising, and unique device token</li>
<li>Geo-location information, including location information from your mobile device.</li>
<li>Computer and connection information such as statistics on your page views, traffic to and from the sites, referral URL, ad data, your IP address, your browsing history, and your web log information</li>
<li>Personal information we collect using cookies, web beacons, and similar technologies:</li>
<li>We may use cookies, web beacons, unique identifiers, and similar technologies to collect information about the pages you view, the links you click, and other actions you take on our Services, within our advertising or e-mail content.</li>
</ul>
<h3>Personal information from other sources:</h3>
<p>Mobile device camera &ndash; you will use your device&rsquo;s camera to take profile pictures and pictures to be attached to notes, for example, photos of documents or damage to loads or vehicles.</p>
<p>Mobile device location services &ndash; our platform requires this service to be set to &ldquo;always on&rdquo; as we use location services of the drivers&rsquo; device for load tracking and geo-fencing and updating the co-ordinates of the driver at pick up and drop off.&nbsp; We do not, however, constantly track all devices, but specifically from an hour before scheduled pick-up to delivery sign-off by the receiver.</p>
<p>Mobile device photo library &ndash; you will use your photo library to select profile pictures and photos to be attached to notes described above.</p>
<p>We may supplement the personal information we collect with information from third parties and add it to your account information. For example, we may collect and use demographic information that is publically available, additional contact information, credit check information, and information from credit bureaus, as allowed by applicable laws.</p>
<p>If you give us personal information about someone else, including an authorised Member, you must do so only with their explicit and prior consent. You have to inform them how we collect, use, disclose, and retain their personal information according to our Privacy Notice.</p>
<h2>Use and Retention</h2>
<p>We may use and retain your personal information as follows:</p>
<ul>
<li>Provide, improve, and personalize our Services</li>
<li>Provide access to and use of our Services</li>
<li>Offer you site content that includes services that may benefit your business</li>
<li>Give you access to your transaction history, quotes, internal messages and other features</li>
<li>Customize, measure, and improve our Services</li>
<li>Provide other services requested by you as described when we collect the information</li>
<li>We may use geo-location information to provide you with location based services (such as advertising, search results, and other personalized content)</li>
<li>Monitor compliance with our General Terms of Service</li>
</ul>
<p>For these purposes, we may contact you via email, telephone, text messages, and postal mail:</p>
<ul>
<li>Contact you to notify you regarding your account, to troubleshoot problems with your account, to resolve a dispute, to collect fees or monies owed, to poll your opinions through surveys or questionnaires, or as otherwise necessary to provide you customer service</li>
<li>Contact you as necessary to enforce our General Terms of Service, applicable laws, and any agreement we may have with you</li>
<li>Verify, activate or re-activate accounts, password reset, account suspension, terms and conditions updates, and accounting functions (invoices and receipts)</li>
<li>Personalize our advertising and marketing communications</li>
<li>Personalize, measure, and improve our advertising based on your advertising customization preferences</li>
<li>Offer you coupons, discounts and special promotions, and inform you about our Services and those of our <em>Go99</em>&trade; corporate family.</li>
</ul>
<p>We retain your personal information as long as it is necessary and relevant for our operations. In addition, we may retain personal information from closed accounts to comply with applicable laws and requirements of government authorities and law enforcement agencies, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our General Terms of Service and take other actions permitted or required by applicable laws. After it is no longer necessary for us to retain your personal information, we dispose of it in a secure manner according to our data retention and deletion policies.</p>
<h2>Choice</h2>
<p>You have a choice about how we use your personal information to communicate with you, to send you marketing information, how we provide you with customized and relevant advertising, and whether you want to stay signed into your account.</p>
<h2>Marketing</h2>
<p>If you do not wish to receive marketing communications from us, you can unsubscribe from the link in the email you received.</p>
<h2>Withdraw consent</h2>
<p>If you withdraw your consent for the use or disclosure of your personal information for purposes set out in this Privacy Notice you may not have access to all our Services and we might not be able to provide you all of the Services and customer support offered to our members and registered Members.</p>
<h2>Access</h2>
<p>We take steps to ensure that the personal information we collect is accurate and up to date, and that you have the ability to access and make corrections to it. This includes the following:</p>
<p>We will remind you to check that all the information you submit in order to register for an account is accurate and up to date. We will honor any statutory right you might have to access, modify or erase your personal information. To request access and to find out whether any fees may apply, if permitted by applicable laws, please contact us following the instructions in the Contact Us section. Where you have a statutory right to request access or request the modification or erasure of your personal information, we can still withhold that access or decline to modify or erase your personal information in some cases in accordance with applicable laws, but will give you reasons if we do so</p>
<h2>Disclosure</h2>
<p>We may disclose your personal information to other members of the <em>Go99</em>&trade; corporate family or to third parties. This disclosure may be required for any of the reasons set out in the Use and Retention section above.</p>
<p>&nbsp;We minimize the amount of personal information we disclose to what is directly relevant and necessary to accomplish the specified purpose. We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.</p>
<h3>Disclosure to <em>Go99</em>&trade; corporate family members</h3>
<p><em>Go99</em>&trade; corporate family members, who may use personal information to:</p>
<ul>
<li>provide joint content and services (like registration, transactions, and customer support)</li>
<li>help detect and prevent potentially fraudulent and illegal acts, violations of our General Terms of Service, and data security breaches</li>
<li>provide you personalized advertising</li>
<li>guide decisions about their products, sites, applications, services, tools, and marketing communications.</li>
</ul>
<p>Members of our <em>Go99</em>&trade; corporate family will use your personal information to send you marketing communications only if you have consented to receive such communications from them</p>
<h3>Disclosure to Service Providers</h3>
<p>These parties may use it to help us provide our Services, payment processing services, assist us in providing customize advertising, to assist us with the prevention, detection, mitigation, and investigation of potentially illegal acts, violations of our Member Agreement, fraud and/or security breaches, bill collection, affiliate and rewards programs, co-branded credit cards and other business operations</p>
<p>Financial institution partners who may use it to offer financial products to you, for them to provide joint content and services (such as, registration, transactions and customer support). These third party financial institution partners will use your personal information to send you marketing communications only if you have requested their services</p>
<p>Law enforcement agencies who may use it to respond to claims that a listing or other content violates the rights of others, or protect anyone's rights, property or safety.</p>
<p>Law enforcement or governmental agencies, or authorized third-parties, in response to a verified request relating to a criminal investigation or alleged or suspected illegal activity or any other activity that may expose us, you, or any other of our Members to legal liability.</p>
<p>Credit agencies or bureaus as authorized by applicable national laws (e.g. information on late or missed payments or other defaults on your account that may be reflected in your credit report or file)</p>
<p>Third parties involved in a legal proceeding, if they provide us with a subpoena, court order or substantially similar legal procedure, or we otherwise believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity</p>
<h3>Other <em>Go99</em>&trade; Members as authorized by you or your use of our Services.</h3>
<p>When transacting or interacting with another Member, the other Member may request and we may provide him/her with information about you necessary to complete the transaction, such as your name, account ID, email address, contact details, shipping and billing address, or other information from you needed to promote the reliability and security of the transaction. If a transaction is held, fails, or is later invalidated, we may also provide the other Member with details of the unsuccessful transaction. The other Member receiving your information is not allowed to use this information for purposes unrelated to the transaction, such as to contact you for marketing purposes, unless you have express consented to it. Contacting Members with unwanted or threatening messages is a violation of our General Terms of Service.</p>
<h2>Change of Ownership</h2>
<p>If we were to merge with or be acquired by another company, we may share information with them</p>
<h2>Security</h2>
<p>We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls. If you believe your account has been abused, please contact us following the instructions in the Contact Us section.</p>
<h2>Children's Privacy</h2>
<p>Our websites are general audience websites, and our Services are not intended for children or minors under the age of consent. We do not knowingly allow for Members who do not meet these criteria and do not knowingly collect personal information from Members in this age group.</p>
<h2>Third Party Privacy Practices</h2>
<p>This Privacy Notice addresses only the use and disclosure of personal information we collect from you. If you disclose your information to others, or if you are directed to a third party website, their privacy notices and practices will apply.</p>
<p>We cannot guarantee the privacy or security of your information once you provide it to a third party and we encourage you to evaluate the privacy and security policies of your trading partner before entering into a transaction and choosing to share your information. This is true even where the third parties to whom you disclose personal information are shippers, carriers or drivers on our sites.</p>
<h2>Unwanted or threatening email</h2>
<p>We do not tolerate the abuse of our Services. You do not have permission to add other members to your mailing list(email or postal), callor send him/her text messages, for commercial purposes, even if this person or company has has purchased something from you, unless that person or company has given you explicit consent. Sending unwanted or threatening email, text messages or postal mail is against our General Terms of Service.&nbsp; To report <em>Go99</em>&trade;-related spam or spoof emails, please forward them to privacy@<em>Go99</em>.ca at your earliest convenience.</p>
<h2>Questions or Complaints</h2>
<p>Please refer to the other Privacy related policies and materials found at www.<em>Go99</em>.ca/terms for more information.</p>
<p>If you have a question or a complaint about this Privacy Notice, our privacy standards, or our information handling practices, you can reach the Chief Privacy Officer my mail at <em>Go99</em> Operations Ltd. 38 Fell Ave, suite #301, North Vancouver, British Columbia, V7P 3S2 Canada or via email at privacy@<em>Go99</em>.ca.</p>
<h1>#Transaction Privacy</h1>
<p>This section describes some additional important information related to your use of our Services. There are just a few more pieces of important privacy information related to your use of our Services that we need to cover:</p>
<p>When you share your personal information on our sites or applications &ndash; what happens?</p>
<p>Other Members have access to the information you share on <em>Go99</em>&trade;. For example, other Members can see your profile and support documentation, Feedback, ratings and associated comments.</p>
<p>Your Member ID is displayed throughout <em>Go99</em>&trade; and is available to the public. It is connected to all of your <em>Go99</em>&trade; activity. Notices sent to other Members about suspicious activity and notice violations on our sites refer to Member IDs and specific items. So if you associate your name with your Member ID, the people to whom you have revealed your name will be able to personally identify your <em>Go99</em>&trade; activities.</p>
<p>To help protect your privacy, we allow only limited access to other Members' contact, shipping and financial information as necessary to facilitate your transactions and collect payments. However, when Members are involved in a transaction, they have access to each other's name, Member ID, email address and other contact and shipping information.</p>
<p>How you should use the information you receive on our sites</p>
<p>When you are in a transaction with another Member, we enable you to obtain or we may provide you with the personal information of the other Member (such as his/her name, account ID, email address, contact details, shipping and billing address) to complete the transaction. We encourage you to inform the other Member about your privacy practices and respect his/her privacy. In all cases, you must give the other Member a chance to remove himself/herself from your database and give him/her a chance to review what information you have collected about them.</p>
<p>You may use the personal information that you have access to only for <em>Go99</em>&trade; transaction-related purposes and for purposes expressly consented by the Member to whom the information relates. Using personal information of other Members that you have access to for any other purpose constitutes a violation of our Member Agreement.</p>
<p>Unwanted or threatening email</p>
<p>We do not tolerate abuse of our Services. You do not have permission to add other Members to your mailing list (email or postal), call, or send him/her text messages for commercial purposes, even if this Member purchased something from you, unless the Member has given his/her explicit consent. Sending unwanted or threatening email and text messages is against our Member Agreement. To report <em>Go99</em>&trade;-related spam or spoof emails please forward the email to privacy@<em>Go99</em>.ca.</p>
<h1>#Minimum Requirements</h1>
<h2>Technology</h2>
<p>We are a progressive and leading-edge technology company providing you with access to one of the world&rsquo;s best performing engineered software marketplace.&nbsp; In order to successfully interact with us, you will need at least the following hardware and software versions:</p>
<ul>
<li>Mobile devices running iOS9.0 and Android 4.0 or later.</li>
<li>Desktop machines running the Chrome Browser versions released after June 2016.</li>
</ul>
<p><em>Go99</em>&trade;web and mobile applications are supported on the latest versions and updates, as well as any older versions and updates released in the last 6 months, of the following desktop and mobile browser and operating system platforms respectively: Chrome browser on Windows 10 and macOS, Android phone, iOS phone.</p>
<h2>Business</h2>
<p>All businesses being registered must be solvent and fully registered legal entities with valid business licences, current and appropriate insurances which pass our Credit Checks.&nbsp;</p>
<p>All business conducted within the <em>Go99</em>&trade; business ecosystem will be legal and must fall within <em>Go99</em>&trade;&rsquo;s reasonable definition of common moral and ethical business practices</p>
<h2>Individual</h2>
<p>All people registering for accounts and interacting with the system must be of legal age and qualified to perform the functions and activities of the role they are registering for.&nbsp; All activities performed by the individual must be legal and fall within our General Terms of Service.</p>
<h1>#Personal Data</h1>
<h2>Personal Information</h2>
<p>We require members to provide some personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver&rsquo;s licence number and payment information) in order to create an account and begin interacting in our Marketplace.</p>
<p>Personal information collected by <em>Go99</em>&trade; and its service providers to manage accounts and process orders and related transactions. We do not disclose your personal information with third parties, except for disclosures required to process transactions through the App and as otherwise permitted by applicable law or as outlined in the Privacy Notice which can be found at www.<em>Go99</em>.ca/terms.</p>
<h2>Profile Information</h2>
<p>This data may include the following:</p>
<ul>
<li>Personal name and contact details</li>
<li>Company name and contact details</li>
<li>Company GST and other industry relevant numbers</li>
<li>Driver&rsquo;s licence number is required for truck driver profiles</li>
<li>Profile reputation based on performance and Member feedback</li>
</ul>
<h3>Why do we have it?</h3>
<p>We collect Members&rsquo; personal profile information for various purposes but only relating to the business operations in our Marketplace.&nbsp; Personal name and contact details are required to identify individuals. Collecting Driver licence numbers allows us to uniquely identify embers and qualify them as Carriers. The Company name and contact details allows for proper qualification of the corporate entities being paid or issued with credit terms. Industry relevant numbers, e.g. National Safety Code numbers, verifies security to other Members that the services being rendered are being provided by qualified providers. Other kinds of personal profile information are either required for basic functionality (e.g. email communications) or to enable networking features on the platform (e.g. connecting with other members).</p>
<h3>Where does it come from?</h3>
<p>A member&rsquo;s profile information is provided manually by the Member during and after registration and account set-up. This process may be automatic in future, e.g. if using other tools for login credentials or government databases.</p>
<p>The member&rsquo;s Reputation is a representation based on feedback from other members who have engaged in business activity with that member. Also, various performance data points collected by <em>Go99</em>&trade; (e.g. number of loads delivered) may be displayed.</p>
<h3>Who can see it?</h3>
<p><em>Go99</em>&trade; members are able to view other member profiles in order to make business related decisions. Before engaging in business with another party, the profiles allow for business risk to be calculated.</p>
<p>Only members with the appropriate permissions can see financial data.</p>
<h3>Who sees Transaction Data?</h3>
<p>Shippers see what Carriers quote; Carriers see what Shippers pay.&nbsp; Only the parties engaged in the specific transaction will have visibility of the information relevant to their role that transaction.</p>
<h3>Who it is shared with?</h3>
<p>Other members of the <em>Go99</em>&trade; system may view your profile.&nbsp; Transaction data is only shared with service providers who require the information to make payments to, or make collections from, members conducting business transactions in the Marketplace. Before being shared, all unnecessary personal identifiers are removed from the data and anonymized using industry standards.</p>
<h2>Data Retention</h2>
<p>Transaction data collected and used by <em>Go99</em>&trade; and its service providers to manage accounts and business transactions. We do not disclose any personal information with third parties, but will store, analyze and process the data as permitted by applicable law.</p>
<p>Deleting your <em>Go99</em>&trade; account is a permanent action that cannot be reversed, and will result in the deletion of all personal data associated with the account. Certain anonymized information linked with the account may be retained for analysis and generation of business intelligence.</p>
<p>We will keep all your profile information stored securely for as long as your account is active. Members can register to have their account deleted and made inactive at any time by contacting our Operations Contact Centre.</p>
<h1>#Location and Device Data</h1>
<p>In order to serve you as best we can we collect various kinds of data. For optimal function of our platform, we require permission for our app&rsquo;s collection of precise location from your device via the permissions system used by your mobile and desktop operating system. The <em>Go99</em>&trade; platform allows members to make use of real-time location data which may influence their business decisions.</p>
<h2>What kind of Data is collected?</h2>
<p><em>Go99</em>&trade; collects the following kinds of data:</p>
<ul>
<li>Location (Longitude &amp; Latitude)</li>
<li>Device identification data</li>
</ul>
<p>The <em>Go99</em>&trade; App also collects additional data (e.g. date, time, firmware version) to assist data processing.</p>
<h2>When is Data collected?</h2>
<p>We start a search for the Carrier location shortly before a Carrier is expected to pick up a load and start collecting location data. Location data is collected between pick-up and delivery locations. We stop collecting location data once the Carrier has completed the delivery and begins a search for their next load.</p>
<h2>How data is stored?</h2>
<p>We collect data in a proprietary format and store collected data on cloud servers.</p>
<h2>Member control</h2>
<p>Members can register to have their account deleted and made inactive at any time by contacting our Operations Contact Centre. Please refer to the Privacy Notice regarding retained information at www.<em>Go99</em>.ca/terms</p>
<h2>Security</h2>
<p>We use industry standard technologies (including the SSL (Secure Sockets Layer) protocol and data encryption) to protect all data communications on our platform.</p>
<h2>Data Retention</h2>
<p>We keep data only for as long as the data is reasonably required for legitimate business purposes and for legal compliance purposes. We will then either securely delete the data or remove all personally identifiable information in order to anonymize the data.</p>
<h1>#Member Messaging</h1>
<h2>Member-to-Member contact policy</h2>
<h3>Policy overview</h3>
<p><em>Go99</em>&trade; Members can send messages to each other through the App. We encourage open communication between our Members but we don't allow our members to use these message tools to send spam, offers to solicit or provide services outside of the App, send threats, profanity, or hate speech. <em>Go99</em>&trade; may monitor messages sent through the App and between Members for fraud, abuse, spam, and other violations of <em>Go99</em>&trade; policies and the General Terms of Service.</p>
<p>Make sure you follow these guidelines. If you don't, you may be subject to a range of actions, including your messages being blocked, limits of your App privileges and suspension of your account.&nbsp; <em>Go99</em>&trade; reserves the right to suspend accounts without warning in order to investigate suspected breaches of any applicable laws, <em>Go99</em>&trade; policies or the general Terms of Service.</p>
<p>Please remember that we don't have control over communication unless it takes place through the web or mobile App. Also, posts on <em>Go99</em>&trade; discussion boards aren't covered by this policy. However, we do have a Discussion Boards Usage Policy.</p>
<h3>What are the guidelines regarding Spam (email)?</h3>
<p>We don't allow our Members to send each other spam. "Spam" is an email (or part of an email) that is both unsolicited and commercial in nature.</p>
<p>Unsolicited means the person who received the message didn't request it. Commercial means the message discusses buying, selling, or trading of goods or services.</p>
<p>Some examples of spam include:</p>
<ul>
<li>Unsolicited email offers sent to potential Members</li>
<li>Email messages sent to a member on a mailing list without that member's prior consent</li>
<li>Invitations to join a mailing list that aren't related to your <em>Go99</em>&trade; profile</li>
<li>Mail sent using <em>Go99</em>&trade; messages (or other App features) to send unsolicited commercial offers</li>
<li>Messages that include email addresses, phone numbers, or social media links, contact information or Member names relating to the App</li>
<li>Email and websites impersonating <em>Go99</em>&trade;</li>
</ul>
<h3>Member-to-Non-Member contact guidelines</h3>
<p>We don't allow our Members to send non-Members spam. "Spam" is an email (or part of an email) that is both unsolicited and commercial in nature.&nbsp; The same contact guidelines apply to communicating with non-Members as in the above Member-to-Member contact guidelines.</p>
<h3>Invitation scenarios (Members to non-Members)</h3>
<p>Members should take every precaution to protect their personal information when communicating with others, be they Members or non-Members. Members are strongly advised only to communicate with trusted business partners.</p>
<p>If Members take advantage of broadening their <em>Go99</em>&trade; network using the invitation tool within the App, they are obliged to follow the <em>Go99</em>&trade; General Terms of Service and satisfy at least one of the requirements below:</p>
<ul>
<li>The Member has an established &ldquo;personal relationship&rdquo; with the intended recipient; which is defined as a relationship in which the individuals have had direct, voluntary, two-way communications and it would be reasonable to conclude that they have a personal relationship considering any relevant factors, such as the sharing of interests, experiences, opinions and information in the communications, the frequency of communication, the length of time since the parties communicated and whether the parties have met in person.</li>
<li>The Member has an established &ldquo;business relationship&rdquo; with the intended recipient; which is defined as a relationships in which the individuals, or the companies they represent, have engaged in direct, voluntary, mutually beneficial business activities and it would be reasonable to conclude that they have a business relationship considering any relevant factors, such as the provision of goods or professional services, the length of time since the parties engaged in business activity and whether the parties would continue to conduct business in future.</li>
<li>The Member has identified the intended recipient as someone or a company as an entity engaged in commercial activity relating to shipping loads and/or driving trucks.</li>
</ul>
<p>Please note that <em>Go99</em>&trade; will make every reasonable effort to protect both Members and non-Members from spam and may suspend any accounts suspected of sending spam for investigation.</p>
<h1>#Finance Fee and Payment Calculations</h1>
<p>The <em>Go99</em>&trade; digital freight matching Marketplace allows for clear and transparent financial transactions &ndash; we do not get between Shippers and Carriers &ndash; Shippers see what Carriers quote and Carriers see what Shippers pay.</p>
<p>There are NO subscriptions, transaction fees, access fees, membership dues, or data purchases for basic use of the platform. Neither Shippers, nor Carriers pay to access our free and transparent Marketplace.</p>
<h2>What is the Normal Workflow for a Transaction?</h2>
<div class="term-center">
  <p>&nbsp;</p>
  <p>Shipper makes a Service Request (posts a load)</p>
  <p>Carriers submit quotes (not seen by other Carriers)</p>
  <p>Shipper reviews quotes and Reputation Scores of Carriers</p>
  <p>Shipper assigns the Service Request to a Carrier &ndash; Enters a Contract of Carriage</p>
  <p>Carrier picks up, transports and delivers the load</p>
  <p>Upon receipt of a &ldquo;Received in good order&rdquo; report, the following cascade is initiated:</p>
  <p><strong>First</strong>: Payment is initiated to the Carrier for NextDayPay<a href="#_ftn1" name="_ftnref1">[1]</a>,</p>
  <p><strong>Then</strong>: an Invoice is submitted to the Carrier for payment</p>
</div>
<h2>How are the Payments and Invoices Calculated?</h2>
<p>Carriers are entitled to receive the entire 100% of the agreed Quoted Price they submitted minus the <em>Go99</em>&trade; Finance Fee. The Finance Fee is a bundled service including (i) non-recourse early payment of the receivable (primary part and largest portion of the bundle), (ii) contract and document administration fee, and (iii) software platform maintenance. The Finance Fee amounts to 20% of the Quoted amount agreed to in the Contract of Carriage. Taxes and other non-transactional fees may apply.</p>
<p>Example Calculation of Amount Due, Finance Fee and Payments:</p>
<table width="259">
  <tbody>
    <tr>
      <td colspan="2" width="259">
        <p><em>Invoice Calculation to Shipper</em></p>
      </td>
    </tr>
    <tr>
      <td width="227">
        <p>Quoted Price</p>
      </td>
      <td width="32">
        <p>$2,200.00</p>
      </td>
    </tr>
    <tr>
      <td width="227">
        <p>GST</p>
      </td>
      <td width="32">
        <p>$110.00</p>
      </td>
    </tr>
    <tr>
      <td width="227" class="total-bot total-top">
        <p>Total Due</p>
      </td>
      <td width="32" class="total-bot total-top">
        <p>$2,310.00</p>
      </td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>

<table width="259">
  <tbody>
    <tr>
      <td colspan="2" width="259">
        <p><em>Payment Calculation to Carrier</em></p>
      </td>
    </tr>
    <tr>
      <td width="227">
        <p>Quoted Price</p>
      </td>
      <td width="32">
        <p>$2,200.00</p>
      </td>
    </tr>
    <tr>
      <td width="227">
        <p>Less: Finance Fee</p>
      </td>
      <td width="32">
        <p>$440.00</p>
      </td>
    </tr>
    <tr>
      <td width="227" class="total-top">
        <p>Balance</p>
      </td>
      <td width="32" class="total-top">
        <p>$1,760.00</p>
      </td>
    </tr>
    <tr>
      <td width="227">
        <p>GST</p>
      </td>
      <td width="32">
        <p>$110.00</p>
      </td>
    </tr>
    <tr>
      <td width="227" class="total-top">
        <p>Total</p>
      </td>
        <td width="32" class="total-top">
          <p>$1,870.00</p>
        </td>
      </tr>
      <tr>
        <td width="227">
          <p>Less Admin Fee GST</p>
        </td>
        <td width="32">
          <p>$2.20</p>
        </td>
      </tr>
      <tr>
        <td width="227" class="total-bot total-top">
          <p>Balance owing</p>
      </td>
      <td width="32" class="total-bot total-top">
        <p>$1,867.80</p>
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>There is a small GST charge on the contracts and document administration portion of the Finance Fee which amounts to 0.01% of the agreed Quoted Price.</p>
<p>In a case where changes to the agreed Quoted Price have been made and agreed to, for example where a delay charge has been submitted and agreed to, the Finance Fee only applies to the original agreed Quoted Price and not to the final revised amount.&nbsp; In every case, the Shipper pays the agreed Quoted Price, original or revised.&nbsp; In every case, the Finance Fee applied to the Carrier&rsquo;s NextDayPayment is 20% of the original agreed Quoted Price.</p>
<p>Any unresolved disputes will result in an immediate halt in processing of Carrier&rsquo;s NextDayPay, however, the Shipper will still receive an invoice for the original agreed Quoted Price for collection.</p>
<p>NOTE: Shippers are responsible to pay the GST and related fees as per their invoice.&nbsp; Similarly, Carriers are responsible to remit the GST and related fees as per the remittance received from <em>Go99</em>&trade; accounts.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>#Reputation, Feedback and Member Comments</h1>
<p>Your business is built on the back of your reputation &ndash; we believe you should be rewarded for maintaining a good one!&nbsp; Your reputation is an important measure of the quality on the <em>Go99</em>&trade; platform.&nbsp; Our Reputation Management System&trade; (knows as the RMS&trade;) will allow you to build a reputation that you are proud of and one that gets you the respect you deserve.</p>
<p>The <em>Go99</em>&trade; experience should be quick, easy and efficient for everyone involved. That&rsquo;s why after every delivery, we ask that the shipper/receiving party and the driver are asked to leave a Reputation Score and Feedback. In return, Drivers and Carriers are able to leave a Score and Feedback also.</p>
<p>Your Reputation will be shown in your profile for you to monitor and for your clients and service providers to view.&nbsp; For this reason we encourage all members to monitor their reputation closely.&nbsp;</p>
<p>Your Reputation is built on three things: (i) Reputation Score, (ii) Measurable Criteria based on your performance, and (iii) Comments from other members you engage in business with.</p>
<h2>What are the Measurable Criteria and how are they displayed?</h2>
<p>Our system will be recording your activity within our system environment. This will include things like Miles Travelled, Loaded Miles, Number of Deliveries, Number of Disputes, and similar.&nbsp; These facts will be displayed objectively, without any manipulation by additional factors.&nbsp; Our system may reward members for reaching certain milestones with &ldquo;badge icons&rdquo; visible on their profiles.</p>
<h2>What is a Reputation Score and how is it calculated?</h2>
<p>Only members you have engaged in business with can contribute to your Reputation Score.&nbsp;</p>
<p>Your overall Reputation Score is an average of the individual Reputation Scores contributed by the 200 or fewer most recent members you have engaged in business with. Simply, if you have completed less than 200 deliveries, your Score is calculated by adding up all the individual Scores and dividing that number by the number of Scores you have received. Example:</p>
<div class="term-center">
  <p>&nbsp;</p>
  <p>(added total of all your scores)</p>
  <p>&divide;</p>
  <p>(total number of scores)</p>
  <p>=</p>
  <p>your <em>Go99</em>&trade; Reputation Score</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>If you've completed more than 200 trips, your score is calculated like this:</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>(added total of scores from last 200 deliveries)</p>
  <p>&divide;</p>
  <p>(200)</p>
  <p>=</p>
  <p>your <em>Go99</em>&trade; Reputation Score</p>
  <p>&nbsp;</p>
</div>
<h3>Scores change quickly and often with every delivery at first</h3>
<p>All members start with a blank slate &ndash; that&rsquo;s the level playing field.&nbsp; Your profile won&rsquo;t show a Reputation Score until you have completed 10 deliveries and received Reputation Scores from the Shipper/Receiving Party.&nbsp; Your Score will change often and quickly until you have made between 50-100 Scored Deliveries &ndash; because there are fewer Scores to add together and average.</p>
<h3>What is included in the Reputation Score?</h3>
<p>Your average Score includes deliveries where the Shipper/Carrier provided a Score. Shippers/Carriers have the option not to provide a Score, but they are strongly encouraged to do so &ndash; it strengthens the reliability of the platform and maintains the highest quality possible. Most Shippers/Carriers will provide a Score, but if they don&rsquo;t, that delivery will not contribute to your overall Reputation Score. Shippers/Carriers have several days to provide a Score which is why you may see your score change on days you are not delivering or shipping loads.</p>
<p>Remembers that only your last 200 Scores contribute to your overall Reputation Score. So, if you have completed more than 200 Scores deliveries, only the most recent 200 count toward your overall Reputation Score.</p>
<h3>Why is the Reputation Score so important?</h3>
<p>Your Reputation is one of the only things you can truly control in your business &ndash; make it count!</p>
<p>Your overall Reputation Score is one important way that <em>Go99</em>&trade; and those you do business with can evaluate your performance and your partnership. Sometimes, members&rsquo; accounts will be deactivated due to consistently low Reputation Score. This ensures that <em>Go99</em>&trade; members continue to receive a high-quality service and experience. We find that members who consistently provide a high Score of those they engage in business with are more active within the Marketplace and refer other Shippers and Carries to our platform.&nbsp;</p>
<p>The result is more loads and better paying loads in the marketplace as well as more and better quality Carriers/Driver providing services.</p>
<h2>How are Comments made and who is responsible for them?</h2>
<p>Only members you have engaged in business with can leave Comments based on their experience throughout a specific transaction with you. The purpose of this is to allow members to make informed decisions about whether they want to enter into a transaction with you or another member.</p>
<p>Following each successful delivery, both parties are invited to leave a Comment based on their experience of the other throughout the transaction &ndash; Comments should be a critical appraisal of the experience, with the intent to highlight a particular level of skill or to provide guidance on how to improve the level of service and experience for the other party.</p>
<p>You are ultimately responsible for all the comments you leave, as well as how they are interpreted by other members.&nbsp; Be careful to leave appropriate Comments with appropriate content.</p>
<h3>Feedback comments containing inappropriate content</h3>
<p>Feedback and Comments containing content deemed by <em>Go99</em>&trade; to be inappropriate content may include content which violates applicable laws, is discriminatory, cannot be reasonably verified, is abusive or appears to have a purpose not intended by <em>Go99</em>&trade;.</p>
<h4>These types of Feedback Comments may be removed or edited:</h4>
<p>Feedback containing personally identifying information about another member, such as a member's address, phone number, email address, or real name. We may also remove Feedback that can be used to obtain personally identifying information about another member, such as a shipment tracking number.</p>
<p>Feedback not related to a load transaction, including a comment, reply, or follow-up related to a different load.</p>
<p>Feedback Comments containing political, religious, social, or other commentary, rather than genuine comments about a load.</p>
<p>Feedback Comments containing language that is profane, vulgar, obscene, discriminatory either sexist or racist, as well as Comments containing age-restricted material or physical threats.</p>
<p>Feedback Comments containing links or promotional language which encourages Members to engage outside of <em>Go99</em> &trade;.</p>
<p>Feedback Comments that includes references to current or previous law enforcement investigations or <em>Go99</em>&trade; investigations.</p>
<p>Feedback Comments containing URLs or links outside <em>Go99</em>&trade;-owned and operated domains.</p>
<h4>These types of Feedback Comments aren't removed:</h4>
<p>Feedback comments containing accusatory language such as "fraud," "liar," "cheater," "scam artist," or "con man." Although this type of comment is strongly discouraged, it isn't removed unless it also contains content that isn't allowed.</p>
<h2>Changes to this notice</h2>
<p>We may amend this policy at any time by posting the amended terms on this site. All amended terms automatically take effect 30 days after they are posted.&nbsp; We may also announce these changes via the <em>Go99</em>&trade; Message Centre or via email.</p>
<h2>Can Reputation Scores and Comments be changed?</h2>
<p>We are not responsible for Scores or Comments submitted by members. However, we will take all reasonable steps to ensure that Scores and Comments are fair and deserved.&nbsp; Please ensure that you perform at your best so as to receive the highest possible Reputation Score with appropriate Feedback and Comments.</p>
<p>Special circumstances may occur where changes to your Reputation Score or Comments may be made by <em>Go99</em>&trade; Account Managers.&nbsp; These circumstances include those outlined above and others where, for example, a member can show definitively that the Score and/or Comments are unfair, misleading or incorrect.&nbsp; In these circumstances, the member is to contact the <em>Go99</em>&trade; Account Management Team via email or phone.</p>
<h1>#Contact Points</h1>
<h3>Last updated: 16 March 17, 11:02:45 AM</h3>
<h4>Business Operations Centre</h4>
<p>Phone and Email support<br /> 7 days a week, 6:00am to 5:30pm PST<br /> Email support@<em>Go99</em>.ca <br /> Toll-free 1.888.988.1099</p>
<p>&nbsp;</p>
<h4>Mailing support</h4>
<p><em>Go99</em>&trade; Headquarters<br /> 38 Fell Ave, suite #301<br /> North Vancouver, BC<br /> V7P 3S2</p>
<p>&nbsp;</p>
<h4>Email Resources</h4>
<p>Human Resources &ndash; <a href="mailto:careers@go99.ca">careers@<em>Go99</em>.ca</a><br /> Privacy Officer &ndash; <a href="mailto:privacy@go99.ca">privacy@<em>Go99</em>.ca</a><br /> Legal Counsel &ndash; <a href="mailto:legalnotices@go99.ca">legalnotices@<em>Go99</em>.ca</a><br /> </p>
<p>&nbsp;</p>
<p><a href="#_ftnref1" name="_ftn1">[1]</a> NextDayPay defined: The day after the &ldquo;Receipt in Good Order&rdquo; can be confirmed; in some cases, a POD or BOL may be required.</p>
<br><br><br><br><br><br>
