---
layout: terms
title: Go99 Reputation & Feedback Policy
---

<h1>Reputation & Feedback Policy</h1>
<p>
Policy Title: Feedback and User Comments<br>
Department: Business Operations<br>
Last updated: 08 November 16, 11:11:23 AM<br>
Contact Centre: 1-888-988-1099<br>
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    The App requires users to provide their personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver’s licence number and payment information) in order to create an account and begin interacting with the Marketplace.
    Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.
  </li>
  <li>
    <h3>Feedback and Comment removal</h3>
    Feedback comments containing inappropriate content will be removed at the discretion of Go99™.
  </li>
  <li>
    <h3>These types of Feedback comments may be removed:</h3>
    Feedback containing personally identifying information about another member, such as a member’s address, phone number, email address, or real name. We may also remove Feedback that can be used to obtain personally identifying information about another member, such as a shipment tracking number.<br>
    Feedback not related to a load transaction, including a comment, reply, or follow-up related to a different load.<br>
    Feedback containing political, religious, social, or other commentary, rather than genuine comments about a load.<br>
    Feedback containing language that is profane, vulgar, obscene, or racist, as well as comments containing adult material or physical threats.<br>
    Feedback containing links or promotional language which encourages users to engage outside of Go99™.<br>
    Feedback that includes references to law enforcement investigations or Go99™ investigations.
  </li>
  <li>
    <h3>Changes to this Notice</h3>
    We may amend this Privacy Notice at any time by posting the amended terms on this site. All amended terms automatically take effect 30 days after they are posted. We will announce any material changes to this Privacy Notice through the Go99™ Message Center and/or via email.
  </li>
  <li>
    <h3>These types of Feedback comments aren’t removed:</h3>
    Feedback comments containing accusatory language such as “fraud,” “liar,” “cheater,” “scam artist,” or “con man.” Although this type of comment is strongly discouraged, it isn’t removed unless it also contains content that isn’t allowed.<br>
    Feedback comments containing URLs or links outside Go99™ or www.go99.ca domains.
  </li>
</ol>
