---
layout: terms
title: Go99 Service Data Policy
---

<h1>Service Data Policy</h1>
<p>
  Policy Title: Service Data Policy<br>
  Department: Business Operations<br>
  Last updated: 08 November 16, 10:43:24 AM<br>
  Contact Centre: 1-888-988-1099
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    <p>The App requires users to provide their personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver’s licence number and payment information) in order to create an account and begin interacting with the Marketplace.
    <p>Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.
    <p>The Go99™ App’s processes, monitors and shares data regarding registered users and their activities only as those data pertain to the business being conducted within the App.
  </li>
  <li>
    <h3>Personal Profile Information</h3>
    This data set may include the following data points:<br>
    • Personal name and contact details<br>
    • Company name and contact details<br>
    • Company GST and other industry relevant numbers<br>
    • Driver’s licence number is required for truck driver profiles<br>
    • Profile reputation based on performance and user feedback
  </li>
  <li>
    <h3>Why do we have it?</h3>
    The Go99™ App collects users’ personal profile information for various purposes relating to the business operation of the App. Personal name and contact details are required to identify individuals within the App ecosystem. Collecting Driver licence numbers allows the App to uniquely identify users and qualify them as drivers within the App. The Company name and contact details allows for proper qualification of the corporate entities being paid or issued with credit terms. Industry relevant numbers, e.g. National Safety Code numbers, verifies security to other users that the services being rendered are being provided by qualified providers. Other kinds of personal profile information are either required for basic functionality (e.g. email communications) or to enable networking features on the Go99™ platform (e.g. connecting with other drivers or carriers).
  </li>
  <li>
    <h3>Who can see it</h3>
    Go99™ users are able to view the user profiles in order to make business related decisions. Before engaging in business with another party, the profiles allow for business risk to be calculated by the user.
  </li>
  <li>
    <h3>Transaction Data</h3>
    Only the parties engaged in the specific transaction will have visibility of the information relevant to their role that transaction.<br>
    • Location throughout transaction<br>
    • Quote amount and average dollar per kilometer<br>
    • Scheduled pick-up and delivery times and dates<br>
    • Notes and photographs<br>
  </li>
  <li>
    <h3>Why we have it</h3>
    The principal function of the Go99™ App is to transparently process and display data regarding users’ business transaction processes for their own use – to improve the quality of service provided and to provide tools to more easily and efficiently manage the business transactions.
  </li>
  <li>
    <he>Who it is shared with</he>
    Transaction data is only shared with service providers who require the information to make payments to, or make collections from, Go99™ App users. All data is anonymized and scrubbed of unnecessary personal identifiers using industry standards before being shared.
  </li>
  <li>
    <h3>Data Retention</h3>
    Transaction data collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, but will store, analyze and process the data as permitted by applicable law.
    <p>The deletion of a Go99™ account is a permanent action that cannot be reversed, and will result in the deletion of all personal data associated with the account, except that certain anonymized information may be retained for analysis and generation of business intelligence.
    <p>Go99™ will keep all user’s profile information stored securely for as long as the user’s account is active. Users can register to have their account deleted and made inactive at any time by contacting our operations Contact Centre.
  </li>
</ol>
