---
layout: terms
title: GO99 User Messaging Policy
---

<h1>User Messaging Policy</h1>
<p>
Policy Title: User Messaging Policy<br>
Department: Business Operations<br>
Last updated: 08 November 16, 10:46:39 AM<br>
Contact Centre: 1-888-988-1099<br>
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    <p>The App requires users to provide their personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver’s licence number and payment information) in order to create an account and begin interacting with the Marketplace.
    <p>Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by applicable law.
    <p>User-to-User contact policy
  </li>
  <li>
    <h3>Policy overview</h3>
    Go99™ users can send messages to each other through the App. We encourage open communication between our users but we don’t allow our members to use these options to send spam, offers to solicit or provide services outside of the App, threats, profanity, or hate speech.. Go99™ may monitor messages sent through the App and between users for fraud, abuse, spam, and other violations of Go99™ policies.
    <p>Make sure you follow these guidelines. If you don’t, you may be subject to a range of actions, including your messages being blocked, limits of your App privileges and suspension of your account. Go99™ reserves the right to suspend accounts without warning in order to investigate suspected breaches of any Go99™ policies.
    <p>Please remember that we don’t have control over communication unless it takes place through the web or mobile App. Also, posts on Go99™ discussion boards aren’t covered by this policy. However, we do have a discussion boards usage policy.k
  </li>
  <li>
    <h3>What are the guidelines regarding Spam (email)?</h3>
    We don’t allow our users to send each other spam. “Spam” is an email (or part of an email) that is both unsolicited and commercial in nature.
    Unsolicited means the person who received the message didn’t request it. Commercial means the message discusses buying, selling, or trading of goods or services.
    Some examples of spam include:<br>
    • Unsolicited email offers sent to potential users<br>
    • Email messages sent to a member on a mailing list without that member’s prior consent<br>
    • Invitations to join a mailing list that aren’t related to your Go99™ profile<br>
    • Mail sent using Go99™ messages (or other App features) to send unsolicited commercial offers<br>
    • Messages that include email addresses, phone numbers, or social media links, contact information or user names relating to the App<br>
    • Email and websites impersonating Go99™<br>
    • If you have received spam from another Go99™ user, please forward it to privacy@go99.ca<br>
    • If you received a warning for violating our spam policy and you believe it was sent in error, or you were suspended for violating our spam policy and would like to learn more, please contact us.
  </li>
  <li>
    <h3>User-to-Non-User contact guidelines</h3>
    We don’t allow our users to send non-users spam. “Spam” is an email (or part of an email) that is both unsolicited and commercial in nature. The same contact guidelines apply to communicating with non-users as in the above User-to-User contact guidelines.
  </li>
  <li>
    <h3>Invitation scenarios (users to non-users)</h3>
    Users should take every precaution to protect their personal information when communicating with others, be they users or non-users. Users are strongly advised only to communicate with trusted business partners.
    <p>If users take advantage of broadening their Go99™ network using the invitation tool within the App, they are obliged to follow the Go99™ Terms of Use and satisfy at least one of the requirements below:<br>
    • The user has an established “personal relationship” with the intended recipient; which is defined as a relationship in which the individuals have had direct, voluntary, two-way communications and it would be reasonable to conclude that they have a personal relationship considering any relevant factors, such as the sharing of interests, experiences, opinions and information in the communications, the frequency of communication, the length of time since the parties communicated and whether the parties have met in person.<br>
    • The user has an established “business relationship” with the intended recipient; which is defined as a relationships in which the individuals, or the companies they represent, have engaged in direct, voluntary, mutually beneficial business activities and it would be reasonable to conclude that they have a business relationship considering any relevant factors, such as the provision of goods or professional services, the length of time since the parties engaged in business activity and whether the parties would continue to conduct business in future.<br>
    • The user has identified the intended recipient as someone or a company as an entity engaged in commercial activity relating to shipping loads and/or driving trucks.<br>
    Please note that Go99™ will make every reasonable effort to protect both users and non-users from spam and may suspend any accounts suspected of sending spam for investigation.
  </li>
</ol>
