---
layout: terms
title: GO99 User Privacy Notice
---

<h1>User Privacy Notice</h1>
<p>
Policy Title: User Privacy Notice<br>
Department: Business Operations<br>
Last updated: 08 November 16, 10:50:49 AM<br>
Contact Centre: 1-888-988-1099<br>
</p>

<ol>
  <li>
    The use of an account simplifies the logistics and transaction process and permits transparency throughout the web and mobile application (collectively “The App”).
    <h3>Personal Information</h3>
    The App requires users to provide their personal information (including, but not limited to, name, business address, contact information and depending on their profile, their driver’s licence number and payment information) in order to create an account and begin interacting with the Marketplace.
    Personal information collected through the App is used by Go99™ and its service providers to manage accounts and process orders and related transactions. Go99™ does not disclose the personal information with third parties, except for disclosures required to process orders and transactions through the App and as otherwise permitted by
    <br><strong>Scope and Consent</strong><br>
    This Privacy Notice describes our collection, use, disclosure, retention, and protection of your personal information. It applies to any Go99™ site where this Privacy Notice appears in the footer, and to any Go99™ application, service, or tool (collectively “Services”) where this Privacy Notice is referenced, regardless of how you access or use them, including through mobile devices. By using our Services and/or registering for an account with us, you are accepting the terms of this Privacy Notice and our User Agreement, and you are consenting to our collection, use, disclosure, retention, and protection of your personal information as described in this Privacy Notice.
    <br><strong>Collection</strong><br>
    We collect, process, and retain personal information from you and any devices (including mobile devices) you may use when you: use our Services, register for an account with us, provide us information on a web form, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise correspond with us regarding our Services.
    <br><strong>Use and Retention</strong><br>
    We use the personal information we collect to: provide and improve our Services, provide you with a personalized experience on our sites (especially, by offering you services and items that you may require), contact you about your account and our Services, provide you customer service, provide you with personalized advertising and marketing, and detect, prevent, mitigate, and investigate fraudulent or illegal activities.
    We retain your personal information as long as it is necessary and relevant for our operations. In addition, we may retain personal information from closed accounts to comply with national laws, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our User Agreement and take other actions permitted or required by applicable national laws.
    <br><strong>Choice</strong><br>
    You have a choice about how we use your personal information to communicate with you, send you marketing information, and provide you with personalized advertising, and whether you want to stay signed into your account.
    <br><strong>Choice</strong><br>
    You have a choice about how we use your personal information to communicate with you, send you marketing information, and provide you with personalized advertising, and whether you want to stay signed into your account.
    <br><strong>Access</strong><br>
    We take steps to ensure that the personal information we collect is accurate and up to date, and that you have the ability to access it and make corrections to it.
    <br><strong>Disclosure</strong><br>
    We may disclose your personal information to other members of the Go99™ corporate family or to third parties. This disclosure may be required for us to provide and to provide you access to our Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.
    <br><strong>Change of Ownership</strong><br>
    If we were to merge with or be acquired by another company, we may share information with them in accordance with our privacy standards
    <br><strong>Security</strong><br>
    We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls.
    <br><strong>Important Information</strong><br>
    This section describes some additional important information related to your use of our Services.
    <br><strong>Questions or Complaints</strong><br>
    If you have a question or a complaint about this Privacy Notice or our information handling practices, you can reach our Privacy Office in writing by sending us a letter or postcard to: Go99 Operations Ltd. 38 Fell Ave, Suite #301, North Vancouver, British Columbia, V7P 3S2 Canada or send email to privacy@go99.ca.
  </li>
  <li>
<h3>Personal Information</h3>
“Personal information” is information that can be associated with a specific person and could be used to identify that specific person whether from that data or from that data and other information that Go99™ has or is likely to have access to. We do not consider personal information to include information that has been made anonymous or aggregated so that it can no longer be used to identify a specific person, whether in combination with other information or otherwise.
  </li>
  <li>
    <h3>Scope and Consent</h3>
    This Privacy Notice describes our collection, use, disclosure, retention, and protection of your personal information. It applies to any Go99™ site where this Privacy Notice appears in the footer, and to any Go99™ application, service, or tool (collectively “Services”) where this Privacy Notice is referenced, regardless of how you access or use them, including through mobile devices.
    <br>By using our Services and/or registering for an account with us, you are accepting the terms of this Privacy Notice and our User Agreement, and you are consenting to our collection, use, disclosure, retention, and protection of your personal information as described in this Privacy Notice. If you do not provide the information we require, we may not be able to provide all of our Services to you.
    <br>The Go99™ Company you are contracting with is your data controller, and is responsible for the collection, use, disclosure, retention and protection of your personal information in accordance with our global privacy standards as well as any applicable national laws. Your data controller may transfer data to other members of the Go99™ corporate family as described in this Privacy Notice. We may process and retain your personal information on our servers in the U.S. and elsewhere in the world where our data centers are located.
  </li>
  <li>
    <h3>Changes to this Notice</h3>
    We may amend this Privacy Notice at any time by posting the amended terms on this site. All amended terms automatically take effect 30 days after they are posted. We will announce any material changes to this Privacy Notice through the Go99™ Message Center and/or via email.
  </li>
  <li>
    <h3>Collection</h3>
    We collect, process, and retain personal information from you and any devices (including mobile devices) you may use when you: use our Services, register for an account with us, provide us information on a web form, also during load deliveries (1 hour before pick-up until delivery sign-off) – even if you are not “using” the app, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise correspond with us regarding our Services.<br>
    The personal information we collect includes the following:<br>
    • Personal information you give us when you use our Services or register for an account with us<br>
    • Identifying information such as your name, addresses, telephone numbers or email addresses when you register for an account with us<br>
    • Quoting information you provide during a transaction, or other transaction-based content that you generate or that is connected to your account as a result of a transaction you are involved in<br>
    • Other content that you generate, or that is connected to your account (such as mileage, transaction values, quoting values)<br>
    • Financial information (such as credit card or bank account numbers) in connection with a transaction<br>
    You may also provide us other information through a web form or mobile app, by updating or adding information to your account, through your participation in community discussions, chats, dispute resolution, or when you otherwise correspond with us regarding our Services<br>
    Additional information we are required or authorized by applicable national laws to collect and process in order to authenticate or identify you or to verify the information we have collected:<br>
    • Personal information we collect automatically when you use our Services or register for an account with us<br>
    We also collect information about your interaction with our Services, your advertising preferences, and your communications with us. This is information we receive from the devices (including mobile devices) you use when you use our Services, register for an account with us, provide us information on a web form, update or add information to your account, participate in community discussions, chats, or dispute resolution, or when you otherwise correspond with us regarding our Services. This information comprises the some or more of the following:<br>
    • Device ID or unique identifier, device type, ID for advertising, and unique device token<br>
    • Geo-location information, including location information from your mobile device.<br>
    • Computer and connection information such as statistics on your page views, traffic to and from the sites, referral URL, ad data, your IP address, your browsing history, and your web log information<br>
    Personal information we collect using cookies, web beacons, and similar technologies:<br>
    • We may use cookies, web beacons, unique identifiers, and similar technologies to collect information about the pages you view, the links you click, and other actions you take on our Services, within our advertising or e-mail content.<br>
    Personal information from other sources:<br>
    We may supplement the personal information we collect with information from third parties and add it to your account information. For example, we may collect and use demographic information that is publically available, additional contact information, credit check information, and information from credit bureaus, as allowed by applicable national laws<br>
    We may allow you to share information with social media sites, or use social media sites to create your account or to connect your account with the respective social media site. Those social media sites may give us automatically access to certain personal information retained by them about you (e.g., content viewed by you, content liked by you, and information about the advertisements you have been shown or may have clicked on, etc.). You control the personal information you allow us to have access to through the privacy settings on the applicable social media site and the permissions you give us when you grant us access to your personal information retained by the respective social media site about you. By associating an account managed by a social media site with your account and authorizing us to have access to this information, you agree that we may collect, use and retain the information provided by these social media sites in accordance with this Privacy Notice<br>
    If you give us personal information about someone else, you must do so only with their explicit and prior consent. You have to inform them how we collect, use, disclose, and retain their personal information according to our Privacy Notice.
  </li>
  <li>
    <h3>Use and Retention</h3>
    We use the personal information we collect to: provide and improve our Services, to provide you with a personalized experience on our sites (especially, by offering you services that may benefit your business), to contact you about your account and our Services, to provide you customer service, to provide you with personalized advertising and marketing, and to detect, prevent, mitigate and investigate fraudulent or illegal activities. We may use and retain your personal information as follows:<br>
    • Provide, improve, and personalize our Services<br>
    • Provide access to and use of our Services<br>
    • Offer you site content that includes services that may benefit your business<br>
    • Give you access to your transaction history, quotes, internal messages and other features<br>
    • Customize, measure, and improve our Services<br>
    • Provide other services requested by you as described when we collect the information<br>
    • We may use geo-location information to provide you with location based services (such as advertising, search results, and other personalized content)<br>
    • Contact you about your account and provide you customer service<br>
    • Contact you to notify you regarding your account, to troubleshoot problems with your account, to resolve a dispute, to collect fees or monies owed, to poll your opinions through surveys or questionnaires, or as otherwise necessary to provide you customer service<br>
    • Contact you as necessary to enforce our User Agreement, applicable national laws, and any agreement we may have with you<br>
    For these purposes, we may contact you via email, telephone, text messages, and postal mail:<br>
    • Verify, activate or re-activate accounts, password reset, account suspension, terms and conditions updates, and accounting functions (invoices and receipts)<br>
    • Personalize our advertising and marketing communications<br>
    • Personalize, measure, and improve our advertising based on your advertising customization preferences<br>
    • Offer you coupons, discounts and special promotions, and inform you about our Services and those of our Go99™ corporate family. We will use the contact information you have provided to contact you by e-mail, SMS text and/or telephone if you have consented to such contact. Message and data rates may apply<br>
    • Prevent, detect, mitigate, and investigate fraudulent or illegal activities<br>
    • Prevent, detect, mitigate, and investigate fraud, security breaches, potentially prohibited or illegal activities<br>
    • Enforce our Privacy Notice, our User Agreement or other policies<br>
    We retain your personal information as long as it is necessary and relevant for our operations. In addition, we may retain personal information from closed accounts to comply with national laws, prevent fraud, collect any fees owed, resolve disputes, troubleshoot problems, assist with any investigation, enforce our User Agreement and take other actions permitted or required by applicable national laws. After it is no longer necessary for us to retain your personal information, we dispose of it in a secure manner according to our data retention and deletion policies.
  </li>
  <li>
    <h3>Choice</h3>
    You have a choice about how we use your personal information to communicate with you, to send you marketing information, how we provide you with customized and relevant advertising, and whether you want to stay signed into your account.
  </li>
  <li>
    <h3>Marketing</h3>
    If you do not wish to receive marketing communications from us, you can unsubscribe from the link in the email you received. Keep in mind, we do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent.
  </li>
  <li>
    <h3>Withdraw consent</h3>
    If you withdraw your consent for the use or disclosure of your personal information for purposes set out in this Privacy Notice you may not have access to all our Services and we might not be able to provide you all of the Services and customer support offered to our users and authorized under this Privacy Notice and our User Agreement.
  </li>
  <li>
    <h3>Access</h3>
    We take steps to ensure that the personal information we collect is accurate and up to date, and that you have the ability to access and make corrections to it. This includes the following:<br>
    We will honor any statutory right you might have to access, modify or erase your personal information. To request access and to find out whether any fees may apply, if permitted by applicable national laws, please contact us following the instructions in the Contact Us section. Where you have a statutory right to request access or request the modification or erasure of your personal information, we can still withhold that access or decline to modify or erase your personal information in some cases in accordance with applicable national laws, but will give you reasons if we do so
  </li>
  <li>
    <h3>Disclosure</h3>
    We may disclose your personal information to other members of the Go99™ corporate family or to third parties. This disclosure may be required for us to provide and to provide you access to our Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate our marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent or illegal activities related to our Services. We minimize the amount of personal information we disclose to what is directly relevant and necessary to accomplish the specified purpose. As stated above, we do not disclose your personal information to third parties for their marketing and advertising purposes without your explicit consent.<br>
    We may disclose your personal information to the following parties and for the following purposes:<br>
    Go99™ corporate family members, who may use it to:<br>
    • provide joint content and services (like registration, transactions, and customer support)<br>
    • help detect and prevent potentially fraudulent and illegal acts, violations of our User Agreement, and data security breaches<br>
    • provide you personalized advertising<br>
    • guide decisions about their products, sites, applications, services, tools, and marketing communications. Members of our Go99™ corporate family will use your personal information to send you marketing communications only if you have consented to receive such communications from them
  </li>
  <li>
    <h3>Service Providers and financial institutions partners</h3>
    • Third party service providers who help us to provide our Services, payment processing services, assist us in providing customize advertising, to assist us with the prevention, detection, mitigation, and investigation of potentially illegal acts, violations of our User Agreement, fraud and/or security breaches, bill collection, affiliate and rewards programs, co-branded credit cards and other business operations<br>
    • Third party financial institution partners who may offer financial products to you, for them to provide joint content and services (such as, registration, transactions and customer support). These third party financial institution partners will use your personal information to send you marketing communications only if you have requested their services<br>
    Law enforcement, legal proceedings, and as authorized by law<br>
    • to comply with our legal requirements, enforce our User Agreement, respond to claims that a listing or other content violates the rights of others, or protect anyone’s rights, property or safety.<br>
    • to law enforcement or governmental agencies, or authorized third-parties, in response to a verified request relating to a criminal investigation or alleged or suspected illegal activity or any other activity that may expose us, you, or any other of our users to legal liability. We will only disclose information we deem relevant to the investigation or inquiry, such as name, city, province or state, postcode, telephone number, email address, User ID history, IP address, fraud complaints, quoting and posting history<br>
    • to credit agencies or bureaus as authorized by applicable national laws (e.g. information on late or missed payments or other defaults on your account that may be reflected in your credit report or file)<br>
    • to third parties involved in a legal proceeding, if they provide us with a subpoena, court order or substantially similar legal procedure, or we otherwise believe in good faith that the disclosure of information is necessary to prevent imminent physical harm or financial loss or to report suspected illegal activity
  </li>
  <li>
    <h3>Other Go99™ users as authorized by you or your use of our Services</h3>
    When transacting or interacting with another user, the other user may request and we may provide him/her with information about you necessary to complete the transaction, such as your name, account ID, email address, contact details, shipping and billing address, or other information from you needed to promote the reliability and security of the transaction. If a transaction is held, fails, or is later invalidated, we may also provide the other user with details of the unsuccessful transaction. The other user receiving your information is not allowed to use this information for purposes unrelated to the transaction, such as to contact you for marketing purposes, unless you have express consented to it. Contacting users with unwanted or threatening messages is a violation of our User Agreement.
  </li>
  <li>
    <h3>Data disclosure to Go99™ and its corporate family</h3>
    We may disclose your personal information to Go99™ and its corporate family for the following purposes:<br>
    • to prevent, detect, mitigate, and investigate potentially illegal acts, fraud and/or security breaches, and to assess and manage risk, including to alert you if fraudulent activities have been detected on your account<br>
    • to provide customer services, including to help service your account or resolve disputes (e.g., billing or transactional disputes)<br>
    • to facilitate the processing of payment cards when you pay within our Services with a payment card and we use Go99™ or a third party to process your payment<br>
    • to facilitate shipping and related services for purchases you made using PayPal
  </li>
  <li>
    <h3>Change of Ownership</h3>
    If we were to merge with or be acquired by another company, we may share information with them in accordance with our privacy standards. If your personal information will be collected, used, disclosed, or retained for any purposes not covered in this Privacy Notice, you will receive prior notification of the processing of your personal information for the new purposes.
  </li>
  <li>
    <h3>Security</h3>
    We protect your information using technical and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure and alteration. Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls. If you believe your account has been abused, please contact us following the instructions in the Contact Us section.
  </li>
  <li>
    <h3>Personal Information</h3>
    <br>This section describes some additional important information related to your use of our Services. There are just a few more pieces of important privacy information related to your use of our Services that we need to cover:
    <br>When you share your personal information on our sites or applications – what happens?
    <br>Other users have access to the information you share on Go99™. For example, other users can see your profile and support documentation, Feedback, ratings and associated comments.
    <br>Your User ID is displayed throughout Go99™ and is available to the public. It is connected to all of your Go99™ activity. Notices sent to other users about suspicious activity and notice violations on our sites refer to User IDs and specific items. So if you associate your name with your User ID, the people to whom you have revealed your name will be able to personally identify your Go99™ activities.
    <br>To help protect your privacy, we allow only limited access to other users’ contact, shipping and financial information as necessary to facilitate your transactions and collect payments. However, when users are involved in a transaction, they have access to each other’s name, User ID, email address and other contact and shipping information.
    <br>How you should use the information you receive on our sites
    <br>When you are in a transaction with another user, we enable you to obtain or we may provide you with the personal information of the other user (such as his/her name, account ID, email address, contact details, shipping and billing address) to complete the transaction. We encourage you to inform the other user about your privacy practices and respect his/her privacy. In all cases, you must give the other user a chance to remove himself/herself from your database and give him/her a chance to review what information you have collected about them.
    <br>You may use the personal information that you have access to only for Go99™ transaction-related purposes and for purposes expressly consented by the user to whom the information relates. Using personal information of other users that you have access to for any other purpose constitutes a violation of our User Agreement.
  </li>
  <li>
    <h3>Children’s Privacy</h3>
    Our websites are general audience websites, and our Services are not intended for children or minors under the age of consent. We do not knowingly allow for users who do not meet these criteria and do not knowingly collect personal information from users in this age group.
  </li>
  <li>
    <h3>Third Party Privacy Practices</h3>
    This Privacy Notice addresses only the use and disclosure of personal information we collect from you. If you disclose your information to others, or if you are directed to a third party website, their privacy notices and practices will apply.
    <br>We cannot guarantee the privacy or security of your information once you provide it to a third party and we encourage you to evaluate the privacy and security policies of your trading partner before entering into a transaction and choosing to share your information. This is true even where the third parties to whom you disclose personal information are shippers, carriers or drivers on our sites.
  </li>
  <li>
    <h3>Unwanted or threatening email</h3>
    We do not tolerate abuse of our Services. You do not have permission to add other users to your mailing list (email or postal), call, or send him/her text messages for commercial purposes, even if this user purchased something from you, unless the user has given his/her explicit consent. Sending unwanted or threatening email and text messages is against our User Agreement. To report Go99™-related spam or spoof emails please forward the email to privacy@go99.ca.
  </li>
  <li>
    <h3>Questions or Complaints</h3>
    If you have a question or a complaint about this Privacy Notice, our privacy standards, or our information handling practices, you can reach the Chief Privacy Officer by mail at Go99 Operations Ltd. 38 Fell Ave, suite #301, North Vancouver, British Columbia, V7P 3S2 Canada or via email at privacy@go99.ca.
  </li>
</ol>
