<div class="page-footer">
  <div class="container">
    <p class="terms">
      Copyright 2016 Go99™ All Rights Reserved | Privacy & Terms</br>
      GO99 logo and trademark owned by Surespan Digital Ltd. and are used under license.
    </p>
  </div>
</div>
