<p class="social-links">
  <% link_to 'https://www.facebook.com/TruckersGo99/', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-fb.svg' %>
  <% end %>
  <% link_to 'https://twitter.com/truckersgo99', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-tw.svg' %>
  <% end %>
  <% link_to 'https://www.linkedin.com/company/go99', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-li.svg' %>
  <% end %>
</p>
