<p class="social-links">
  <% link_to '/facebook', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-fb.svg' %>
  <% end %>
  <% link_to '/twitter', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-tw.svg' %>
  <% end %>
  <% link_to '/linkedin', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-li.svg' %>
  <% end %>
  <% link_to '/instagram', class: 'icon-link social-link' do %>
    <%= inline_svg 'social-ig.svg' %>
  <% end %>
</p>
