.index .features-section {
  background: url('../images/features-bg.jpg') top center / cover;

  .user-type-toggle {
    margin: 2.5rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  input:not(:checked) + label {
    color: $color-muted;
  }

  .features-container {
    @include display(flex);
    box-sizing: border-box;
    padding: 0 4rem;
    margin-top: 4rem;
  }

  .slider-nav,
  .sales-pitch {
    margin: 2rem;
  }

  .sales-pitch {
    h3 {
      margin-top: -0.1em; // Vertically align with top of letters
    }
  }

  .phone-demo-container {
    height: 390px;
    margin: 0 2rem;
  }
}
