.index .features-section {
  background: url('../images/features-bg.jpg') top center / cover fixed;

  .sticky-zone {
    height: 2000px;
  }

  .sticky-slider {
    position: absolute;
    top: 0;
    width: 100%;

    > .container {
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      height: 100vh;
    }
  }

  .user-type-toggle {
    margin: 1.5rem 0 6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  input:not(:checked) + label {
    color: $color-muted;
  }

  .features-container {
    @include display(flex);
    box-sizing: border-box;
  }

  .slider-nav {
    margin: 2rem;
  }

  .sales-pitch {
    @include flex-grow(1);
    h3 {
      margin-top: -0.1em; // Vertically align with top of letters
    }
  }

  .phone-demo-container {
    height: 390px;
    float: right;
  }

  .slide {
    h5 {
      margin-top: 0;
    }

    &-image {
      float: right;
      width: 60%;
      margin-left: 2rem;
      margin-top: -2rem;
    }
  }

  .app-links {
    position: relative;
    margin-top: 12rem;
    z-index: 1;
  }

  &.driver .shippers-only,
  &.shipper .drivers-only {
    display: none;
  }

  @media (max-width: 499px) {
    .user-type-toggle {
      @include display(flex);
      @include justify-content(center);

      label {
        &:first-of-type {
          text-align: right;
        }

        &:last-of-type {
          text-align: left;
        }
      }
    }
  }

  @media (min-width: 500px) {
    br.tiny-break {
      display: none;
    }
  }

  @media (max-width: $screen-md-max) {
    .features-slider {
      img {
        display: none;
      }
    }

    .app-links {
      display: none;
    }
  }
}
