.index .hero {
  background: url('../images/hero-bg.jpg')  top center / cover;
  overflow: hidden;

  > .container {
    @include display(flex);
    @include align-items(flex-end);
    min-height: 600px;
  }

  .phone-demo-container {
    bottom: -200px;
    margin: 0 3rem;
  }

  .sales-pitch {
    margin-bottom: 4rem;
  }

  header {
    margin: 3rem 0;
  }

  h1 {
    color: $color-primary;
  }
}
