.scroll-link {
  @include transform(translateX(-50%));
  font-family: $font-family-body;
  letter-spacing: .1em;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -6px;
  position: relative;
  margin: auto;
  color: $color-body;
  text-decoration: none;
  text-align: center;
  z-index: 1;

  .down-arrow-border {
    @include shape-diamond($size: 28px, $color: $white);
  }

  .down-arrow {
    @include shape-diamond($size: 26px);
  }

  .label,
  .down-arrow-border,
  .down-arrow {
    @include transform(translateX(-50%));
    position: absolute;
    left: 50%;
    top: 1px;
  }

  .down-arrow {
    @include transform(translate(-50%, 4px));
  }

  svg {
    @include transform(translateX(-50%));
    display: block;
    position: absolute;
    left: 50%;
    top: 13px;
    z-index: 1;
  }

  &:hover {
    .cls-1 {
      fill: $white;
    }
  }

  .inverse & {
    color: $white;
  }
}
