$padding-homepage-section: 4rem;

.index section {
  position: relative;
  padding: $padding-homepage-section 0;

  h2 {
    text-align: center;

    img {
      max-height: 0.8em;
    }
  }

  .register-link,
  .download-link {
    margin: 1.5rem 0;
  }

  .register-link a {
    text-transform: uppercase;
    font-size: 15px;
  }

  .download-link a {
    font-size: 14px;
  }
}
