$breakpoint-tour-3-slides: 600px;

.index .tour-section {
  .features {
    margin: 4rem 0;

    .flickity-page-dots {
      bottom: -50px;
    }
  }

  .feature {
    width: 50%;
    text-align: center;

    p {
      max-width: 10em;
      margin: auto;
    }

    .cls-1 {
      fill: $color-primary;
    }
  }

  @media only screen and (min-width: $breakpoint-tour-3-slides) {
    .feature {
      width: 33%;
    }
  }
}
