$breakpoint-tour-3-slides: 600px;
$breakpoint-tour-4-slides: 800px;

.index .tour-section {
  .container {
    padding: 3rem 0;
  }

  .features {
    margin: 4rem 0 2rem 0;
    fill: #f6c636;

    .flickity-page-dots {
      bottom: -50px;
    }

    .flickity-prev-next-button {
      top: 60%;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.previous {
        left: -4rem;
      }

      &.next {
        right: -4rem;
      }
    }
  }

  .feature {
    width: 50%;
    text-align: center;

    p {
      max-width: 10em;
      margin: auto;
    }

    .cls-1 {
      fill: $color-primary;
    }
  }

  @media only screen and (min-width: $breakpoint-tour-3-slides) {
    .feature {
      width: 33%;
    }
  }

  @media only screen and (min-width: $breakpoint-tour-4-slides) {
    .features {
      @include margin(null 6rem); // Room for PREV NEXT buttons
    }

    .feature {
      width: 25%;
    }
  }
}
