.index .tour-section {
  .video-tour {
    display: block;
    margin: 2rem auto;
  }

  .features {
    @include display(flex);
    @include justify-content(center);
    margin: 4rem 0;
  }

  .feature {
    @include flex(12em 0 0);
    margin: 0 1.5rem;
    text-align: center;

    p {
      max-width: 10em;
      margin: auto;
    }
  }
}
