$saffron:             hsl( 45,  92,  59);
$black-pearl:         hsl(198,  72,  11);

$black:               $black-pearl;
$white:               white;

$color-primary:       $saffron;

$topnav-height:       95px;
$topnav-bg:           $black;

$font-family-body:    'Lato', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

$page-width:          1170px;

$z-index-topnav:      100;
