$saffron:             hsl( 45,  92,  59);
$black-pearl:         hsl(198,  72,  11);
$pickled-bluewood:    hsl(212,  27,  25);

$black:               $black-pearl;
$grey:                hsl(204,  10,  55);
$white:               white;

$color-primary:       $saffron;
$color-secondary:     $pickled-bluewood;
$color-body:          $black;
$color-muted:         $grey;

$topnav-height:       95px;
$topnav-sticky-height:130px;
$topnav-bg:           $black;

$font-family-body:    'Lato', sans-serif;
$font-family-heading: 'Oswald', sans-serif;

$page-width:          1170px;

$z-index-topnav:      100;

$screen-sm-max: 649px;
$screen-md-min: ($screen-sm-max + 1);
$screen-md-max: 959px;
$screen-lg-min: ($screen-md-max + 1);

.tablet-and-below {
  @media (min-width: $screen-lg-min) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: $screen-md-max) {
    display: none !important;
  }
}
