$saffron:             hsl( 45,  92,  59);
$black-pearl:         hsl(198,  72,  11);

$black:               $black-pearl;
$white:               white;

$color-primary:       $saffron;

$topnav-bg:           $black;

$page-width:          1170px;
