.phone-demo {
  position: relative;
  width: 317px;
  height: 645px;
  background: url('../images/hero-iphone.png');
  z-index: 2;

  &-container {
    position: relative;
    overflow: hidden;
  }

  &-screen {
    content: '';
    display: block;
    position: absolute;
    top: 77px;
    left: 20px;
    width: 276px;
    height: 491px;
    z-index: 1;

    @for $i from 1 through 2 {
      &.screen#{$i} {
        background: url("../images/screen#{$i}.png") 100% / cover;
      }
    }
  }
}
