.scroll-slider {
  .slide {
    &:not(.active) {
      display: none;
    }
  }

  &-nav {
    list-style: none;
    padding: 0;
    margin: 0 4rem;

    li {
      @include size(0.8em);
      display: block;
      border: 1px solid $white;
      border-radius: 50%;

      &.active {
        background: $color-primary;
      }

      + li {
        margin-top: 1em;
      }
    }
  }
}
