.scroll-slider {
  .slides {
    position: relative;
  }

  .slide {
    position: absolute;
    top: 0;
    width: 100%;

    &:not(.active) .text,
    &:not(.active) img {
      opacity: 0;
    }

    .text {
      @include transition(top 300ms, opacity 300ms);
      position: relative;
    }

    &.below .text {
      top: -50px;
    }

    &.active .text {
      @include transition(opacity 300ms 150ms);
      top: 0;
    }

    &.above .text {
      top: 50px;
    }

    &:not(.active) img {
      @include transition(opacity 150ms 300ms);
      z-index: -1;
    }

    &.active img {
      @include transition(opacity 300ms);
      z-index: 1;
    }
  }

  &-nav {
    list-style: none;
    padding: 0;
    margin: 0 4rem;

    li {
      + li {
        margin-top: 1em;
      }

      &.active a {
        background: $color-primary;
      }
    }

    a {
      @include size(0.8em);
      display: block;
      border: 1px solid $white;
      border-radius: 50%;
    }
  }

  @media (max-width: $screen-md-max) {
    &-nav {
      margin: 0 2rem 0 1rem;
    }
  }
}
