<div class="page-header">
  <div class="container">
    <h1><a href="/" class="site-logo"><%= inline_svg 'logo-headline-rev.svg' %></a></h1>

    <div class="login-links">
      <%= link_to 'Login', '/login', class: 'link-primary' %>
      <%= link_to 'REGISTER', '/login', class: 'btn btn-primary btn-outline' %>
    </div>
  </div>
</div>
