---
layout: terms
title: Go99
---

<h1>Terms</h1>
<h3>Go99™ Group Privacy Policy</h3>
<p>Last Updated: <strong>October 31, 2016.</strong>
<p>Your privacy is important to Go99™ Operations Ltd. and its corporate affiliates (collectively “<strong>Go99 Group</strong>” and each a “<strong>Go99 Company</strong>”). This Privacy Policy explains how Go99 Group collects, uses, discloses and retains personal information, including personal information collected by Go99 Group through websites, mobile apps and telephone calls and when providing products or services, and including the disclosure of information by Go99 Group to other users of Go99 products and services (each a “<strong>Go99 User</strong>”).

<ol>
  <li>
    <h3>Your Consent</h3>
    By providing a Go99 Company with your personal information, you consent to the collection, use, disclosure and retention of that information by the Go99 Company and other members of the Go99 Group in accordance with this Privacy Policy and as otherwise permitted by applicable law. You may withdraw your consent at any time, subject to legal or contractual restrictions and on reasonable notice to Go99 Group, but then you might not be able to proceed with your intended interactions or transactions with Go99 Group or otherwise receive the full benefit of Go99 Group’s products and services.
  </li>
  <li>
    <h3>Personal Information</h3>
    In this Privacy Policy, “personal information” means information about an identifiable individual (e.g. an individual’s name, postal address, telephone number and email address) but does not include (to the extent permitted by law) information that is publicly available in a telephone directory or that is business contact information that enables an individual to be contacted at a place of business.
  </li>
  <li>
    <h3>Information That Go99 Group Collects</h3>
    <ol type="a">
      <li>
        Information You Provide
        <p>You may be asked to voluntarily give your personal information to a Go99 Company when you interact with the Go99 Company, including when you apply for an account, subscribe to a newsletter, request information or use a product or service (including a mobile app or website) provided by a Go99 Company. In those circumstances, you can choose not to provide certain requested personal information, but then you might not be able to proceed with your intended interaction or transaction with the Go99 Company or another Go99 User otherwise receive the full benefit of the desired product or service.
        <p>If you give a Go99 Company the personal information of another individual in connection with your use of Go99 Group’s products or services, then you are solely responsible for complying with all applicable laws, including obtaining the individual’s valid consent, regarding your collection and disclosure of the personal information to the Go99 Company and to Go99 Group’s use, disclosure and retention of the personal information.
      </li>
      <li>
        Information Provided by Other Go99 Users
        <p>Other Go99 Users may provide a Go99 Company with information about you. Go99 Group relies on those other Go99 Users to comply with all applicable laws, including obtaining your valid consent, regarding their collection and disclosure of your personal information to Go99 Group and to Go99 Group’s use, disclosure and retention of your personal information that they provide to Go99 Group.
      </li>
      <li>
        Automated Collection
        <p>A Go99 Company may automatically collect certain information regarding your use of the Go99 Company’s website or mobile app, such as the dates and times that you use the website or mobile app, the browsers, operating systems, software and devices that you use to use the website or mobile app and details of your use of the website or mobile app.
        <p>If you install Go99 Group’s mobile app on your mobile device, then the settings of the device may permit the automatic transmission to Go99 Group of diagnostic information and other information (including location data, discussed in section 3(d)) regarding your mobile device and your use of the mobile app.
        <p>Go99 Group’s websites, mobile apps, email messages and advertisements may use technologies (e.g. cookies, web beacons, tokens, pixels or tags) to collect information that assists Go99 Group to improve Go99 Group’s products, services, customer communications and advertising and to prevent fraud. Go99 Group may use information collected through technological means to recognize you as a user of Go99 Group’s websites or mobile apps, to facilitate and improve your use of Go99 Group’s websites or mobile apps, to confirm that messages have been delivered to and opened by you and to provide you with targeted advertisements.
        <p>You may choose to decline or disable cookies if your web browser or device permits, but doing so may affect your ability to access or use certain features of a website or mobile app.
        <p>Some of the information automatically collected by technological means is non-personal information (because the information does not identify you), and Go99 Group will deal with that non-personal information as explained below in this Privacy Policy unless applicable law requires otherwise.
      </li>
      <li>
        Location Data
        <p>A Go99 mobile app installed on a mobile device may be configured to automatically collect precise location data, including the real-time geographic location of the mobile device, using various available technologies (including GPS, Bluetooth, Wi-Fi access points and cell tower locations), and transmit that data (either in real time or later when the device has required connectivity) to Go99 Group for use and disclosure as set out in this Privacy Policy, including disclosure of the location data to Go99 Users as described in section 5(d) below.
        <p>If you do not want a Go99 mobile app to access your device’s location data, then you might be able to use your devices settings to disable the transmission of location data but doing so might be a breach of the applicable terms of service or other agreements with Go99 Group and you might not be able to proceed with your intended interactions or transactions with Go99 Group or Go99 Users or otherwise receive the full benefit of Go99 Group’s products and services. For more information, please see Go99 Group’s Customer Support website: www.go99.ca/terms.
        <p>If the location data includes personal information, then Go99 Group will treat the location data as personal information in accordance with this Privacy Policy. If the location data does not include personal information or is depersonalized by Go99, then Go99 Group will treat the location data as non-personal information in accordance with this Privacy Policy.
      </li>
    </ol>
    <li>
      <h3>How Go99 Group Uses Personal Information</h3>
      <ol type="a">
      <li>
        General
        <p>Go99 Group uses your personal information collected by Go99 Group for purposes relating to or arising from your relationship and transactions with Go99 Group and as otherwise set out in this Privacy Policy or permitted by applicable law, including: (i) to administer your relationship with Go99 Group, including to create and manage your account with Go99 Group and to contact and correspond with you regarding those matters; (ii) to provide products and services to you; (iii) to facilitate your interactions and transactions with Go99 Group and with Go99 Users, including to process your applications, requests, orders, transactions and payments and sending notifications to you; (iv) to process and respond to your inquiries, requests and other communications; (v) to provide you with information (including by email and other electronic messages) regarding Go99 Group and its products and services and related products and services offered by other businesses, to the extent permitted by applicable law; (vi) to administer and facilitate your participation in contests and promotions related to Go99 Group; (vii) to improve Go99 Group’s products and services and to develop new products and services; (viii) to protect and enforce Go99 Group’s legal rights, interests and remedies and to protect the businesses, operations and customers of Go99 Group or other persons; and (ix) to enable and assist each Go99 Company to collect, use, disclose and retain your personal information in accordance with this Privacy Policy.
        <p>Go99 Group may combine your personal information collected by Go99 Group through various sources (including information collected through websites, mobile apps and online services).
      </li>
      <li>
        Go99 Group
        <p>A Go99 Company may share your personal information with the entire Go99 Group, and the Go99 Group may develop, maintain and share a confidential profile for you for use by each Go99 Company to provide information, products and services to you, to facilitate your dealings with each Go99 Company and as otherwise set out in this Privacy Policy.
      </li>
    </ol>
    <li>
      <h3>How Go99 Group Discloses Personal Information</h3>
      <ol type="a">
        <li>
          General
          <p>Go99 Group discloses your personal information for purposes relating to or arising from your relationship and transactions with Go99 Group and as otherwise set out in this Privacy Policy or permitted by applicable law.
        </li>
        <li>
          Specific Consents
          <p>Go99 Group may disclose your personal information in accordance with express or implied consents that you give during your interactions and transactions with Go99 Group.
        </li>
        <li>
          Additional Information that You Share
          <p>In addition to the basic personal that you are required to provide to Go99 Group to use Go99 Group’s product or service, you may use Go99 Group’s products and services to voluntarily share additional information (including the personal information of other individuals) and content (including your photograph and copies of important business documents) with other Go99 Users. When you do so, the information and content that you share can be read, collected, used, retained and disclosed by other Go99 Users. You are solely responsible for the information and content that you choose to share with other Go99 Users. Go99 Group has no control over, or responsibility or liability for, the way in which the information or content that you share is collected, used, retained or disclosed by other Go99 Users. Go99 Group encourages you to be careful when you share information or content.
        </li>
        <li>
          Other Go99 Users
          <p>If you use Go99 Group’s services to facilitate a transaction or proposed transaction between you and another Go99 User, or to participate in, perform or fulfill a transaction with another Go99 User, then Go99 Group may disclose your personal information to the other Go99 User to facilitate the transaction or proposed transaction and as otherwise permitted by applicable law. Go99 Group has no control over, or responsibility or liability for, the use, disclosure or retention of your personal information by the other Go99 User, and the use, disclosure and retention of the disclosed information by the other Go99 User is not subject to this Privacy Policy.
        </li>
        <li>
          Suppliers and Service Providers
          <p>Go99 Group may disclose your personal information to Go99 Group’s suppliers and service providers (including fraud prevention services and payment processors) to assist Go99 Group in the provision of information, products and services to you, to provide services to Go99 Group, to assist Go99 Group to use your personal information as set out in this Privacy Policy and as otherwise permitted by applicable law.
        </li>
        <li>
          Law Enforcement/Legal Disclosures
          <p>Go99 Group may disclose your personal information as required or authorized by applicable law, including to comply with a subpoena, warrant or court or arbitral order or litigation disclosure obligation. Go99 Group may disclose your personal information to law enforcement agencies or other independent organizations if Go99 Group reasonably believes the disclosure is necessary or appropriate in connection with national security, law enforcement or other issues of public importance, or if Go99 Group reasonably believes the disclosure is necessary or appropriate to protect and enforce the Go99 Group’s legal rights, interests and remedies or to protect the rights, interests, business, operations or customers (including other Go99 Users) of Go99 Group or other persons (including to detect and prevent fraud and other illegal activities, enforce any of the terms of use, terms of service or other agreements that govern access to or use of any of the Go99 Group’s products or services). Go99 Group has no control over, or responsibility or liability for, the use, disclosure or retention of your personal information by the agencies, independent organizations or other persons to whom Go99 Group discloses the information in the foregoing circumstances, and the use, disclosure and retention of the disclosed information by those agencies, independent organizations or other persons is not subject to this Privacy Policy.
        </li>
        <li>
          Business Transactions
          <p>Each Go99 Company may disclose your personal information in connection with a proposed or actual business transaction in which the Go99 Company is involved (e.g. a corporate amalgamation, reorganization, merger or acquisition, or the sale or transfer of some or all of the Go99 Company’s business or assets), but the Go99 Company will require the information recipient agree to protect the privacy of your personal information in a manner that is consistent with this Privacy Policy and applicable law.
        </li>
      </ol>
    </li>
    <li>
      <h3>Location of Personal Information</h3>
      <p>Go99 Group and its service providers may process, store and use your personal information at facilities in various countries, including Canada, the United States of America and countries in Europe or Asia. The personal information protection laws of those other countries might be different from the laws of the jurisdiction in which you reside, and might permit courts, government, law enforcement agencies, regulatory agencies and security authorities to access your personal information without notice. By providing your personal information to Go99 Group, you consent to the transfer of the personal information to facilities located in other countries and the processing and storage of the personal information at those facilities.
    </li>
    <li>
      <h3>Retention of Personal Information</h3>
      <p>Go99 Group retains your personal information for the period reasonably necessary for the purposes set out or referenced in this Privacy Policy and to comply with Go99 Group’s legal obligations or enforce or protect Go99 Group’s legal rights, or a longer period required or permitted by applicable law. Go99 Group will delete or dispose of your personal information, or depersonalize the information, when Go99 Group is no longer reasonably required to retain the personal information for the purposes set out or referenced in this Privacy Policy.
    </li>
    <li>
      <h3>Protection of Personal Information</h3>
      <p>Go99 Group uses reasonable safeguards – including administrative, physical and technical security and safeguarding measures – appropriate to the sensitivity of the personal information in Go99 Group’s possession or under Go99 Group’s control to help protect the information from unauthorized access, collection, use, disclosure, deletion or similar risks. Nevertheless, security risks cannot be eliminated and Go99 Group cannot guarantee that your personal information will not be accessed, used, disclosed or deleted in ways not otherwise described in this Privacy Policy.
    </li>
    <li>
      <h3>Accuracy and Access to Personal Information</h3>
      <p>Go99 Group will rely on you to ensure that the personal information that you provide to Go99 Group is as accurate, complete and up to date as necessary for the purposes for which Go99 Group uses the personal information. You will promptly notify Go99 Group of any changes to the personal information that you provide to Go99 Group using the procedures made available for that purpose by Go99 Group or by contacting Go99 Group’s customer service.
      <p>You may reasonably request access to your personal information collected by Go99 Group and information about Go99 Group’s use, disclosure and retention of that personal information by submitting a written request to Go99 Group’s Chief Privacy Officer using the contact information noted below. Subject to applicable exceptions and limitations prescribed by applicable law, you will be given reasonable access to your personal information and you will be entitled to verify the accuracy and completeness of your personal information and to have the information revised as appropriate. You may be required to pay a reasonable fee for access to your personal information. Go99 Group may decline to process a request that is unreasonably repetitive, frivolous, vexatious or impracticable, that infringes or jeopardizes the privacy of other persons, or for other reasons permitted by applicable law.
    </li>
    <li>
      <h3>Non-Personal Information</h3>
      <p>Go99 Group creates and collects non-personal information (information that is not about an identifiable individual), including personal information that has been aggregated or otherwise depersonalized so that the information no longer relates to an identifiable individual. Go99 Group may use, disclose, transfer and retain non-personal information for any purpose and in any manner whatsoever. If non-personal information is combined with personal information, then Go99 Group will treat the combined non-personal information as personal information for the purposes of this Privacy Policy for as long as the non-personal information is combined with personal information.
    </li>
    <li>
      <h3>Other Websites and Businesses</h3>
      <p>Go99 Group’s websites and correspondence (including emails and messages) may include advertisements for products and services offered by independent businesses or links to websites operated by independent businesses. Go99 Group has no responsibility or liability for, or control over, those other websites, online services or businesses, their products or services, or their collection, use, disclosure or retention of your personal information. This Privacy Policy does not apply to the collection, use, disclosure and retention of your personal information by those websites, online services and independent businesses. If you have questions about how those websites, online services or independent businesses collect, use, disclose or retain personal information, please contact the owner or operator of the website, service or business.
    </li>
    <li>
      <h3>Other Matters</h3>
<ol type="a">
  <li>
    <strong>App Store Operators</strong>:  If you wish to obtain a copy of a Go99 mobile app from an online app store operated by an unaffiliated third party (such as Apple and Google), then you will be required to disclose your personal information to the app store operator in order to download a copy of the mobile app. Go99 Group has no control over, or responsibility or liability for, the collection, use, disclosure, retention and deletion of your personal information by any app store operator. Each app store operator’s use, disclosure, retention and deletion of your personal information are governed by the app store operator’s own privacy policy (not this Privacy Policy).
  </li>
  <li>
    <strong>Disclaimers, Liability Exclusions/Limitations and Disputes</strong>:  The agreements (including any subscription agreement or terms of service or use) that you accept when you apply, register for, order or use Go99 Group’s products or services contain important provisions, including provisions disclaiming, limiting or excluding the liability of Go99 Group and other persons (including service providers) and provisions determining the applicable law and jurisdiction for the resolution of disputes. To the extent permitted by applicable law, each of those provisions applies to any dispute that may arise in relation to this Privacy Policy or Go99 Group’s collection, use, disclosure and retention of your personal information, and are of the same force and effect as if they were reproduced directly in this Privacy Policy. Nothing in this Privacy Policy amends any of those other agreements.
  </li>
  <li>
    <strong>Changes to this Policy</strong>:  A Go99 Company may change this Privacy Policy as it applies to the Go99 Company from time to time by posting a new version of this Privacy Policy on the Go99 Company’s website. A Go99 Company’s collection, use, disclosure and retention of your personal information will be governed by the current version of this Privacy Policy in effect. Your continued dealings with a Go99 Company after any change to this Privacy Policy will signify your consent to the collection, use, disclosure and retention of your personal information as set out in the changed Privacy Policy. Accordingly, you should check the “Last Updated” date of this Privacy Policy (at the top of this Privacy Policy) and review any changes since the last version.
  </li>
  <li>
    <strong>English Language</strong>:  You and Go99 Group have each expressly requested and required that this Privacy Policy and all other related documents be drawn up in the English language. Les parties conviennent et exigent expressement que cette Politique de Confidentialité et tous les documents qui s’y rapportent soient rédigés en anglais.
  </li>
  <li>
    <strong>Contacting Go99 Group’s Chief Privacy Officer</strong>:  If you have any comments or questions about this Privacy Policy or how Go99 Group deals with your personal information, please contact Go99 Group’s Chief Privacy Officer
    <p>By mail
    <br>Go99 Group – Chief Privacy Officer
    <br>#301 – 38 Fell Avenue, North Vancouver
    <br>British Columbia, Canada, V7P 3S2
    <p>By email
    <br><a href="mailto:privacy@go99.ca">mailto:privacy@go99.ca</a>
  </li>
</ol>



