<div class="app-links">
  <div class="register-link">
    <a href="http://qa1-apps.ssd2.ca/" class="btn btn-split btn-primary"><span class="btn-addon"><%= inline_svg 'icon-checkmark.svg' %></span><span class="btn-content">Register Now</span></a>
  </div>
  <div class="download-link">
    <a href="http://qa1-apps.ssd2.ca/" class="btn btn-split btn-inverse btn-outline"><span class="btn-addon"><%= inline_svg 'icon-download.svg' %></span><span class="btn-content">Download the app</span></a>
  </div>
</div>
