.page-header {
  background: $topnav-bg;
  font-size: 14px;

  > .container {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
  }

  .login-links {
    > * + * {
      margin-left: 1.5em;
    }

    a {
      letter-spacing: 0.05em;
    }
  }
}
