.page-header {
  @include transition(color 500ms);
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 13px;
  z-index: $z-index-topnav;

  > .container {
    @include transition(height 500ms);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    height: $topnav-sticky-height;
  }

  .login-links {
    > * + * {
      margin-left: 2em;
    }

    a {
      letter-spacing: 0.15em;
    }

    .btn {
      padding: .7rem 1rem .7rem 1rem;
    }
  }

  .site-logo svg {
    @include transition(height, 500ms);
    height: 43px;
  }

  @media (min-width: $screen-lg-min) {
    body.scrolled-past-top & {
      position: fixed;
      background: $topnav-bg;

      > .container {
        height: $topnav-height;
      }

      .site-logo svg {
        height: 32px;
      }
    }
  }
}
