.page-footer {
  text-align: center;

  p {
    margin: 3rem auto;
  }

  .social-links,
  .contact-links,
  .social-links a {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
  }

  .social-links {
    a {
      @include size(3rem);
      margin: 0 1rem;
      border-radius: 50%;
      background: $color-primary;
    }
    a:hover {
      transform: scale(1.2);
    }
  }

  .contact-links {
    a {
      @include colored-link($grey);
      text-decoration: none;
    }

    .hr {
      font-size: 1.5em;
      border-color: $grey;
    }
  }

  .terms {
    @include filter(grayscale(1));
    margin-top: 4rem;
    font-size: 0.8em;
    opacity: 0.5;
  }
}
