.page-footer {
  text-align: center;
  background: $white;
  overflow: auto; // prevent child margin overflow

  p {
    margin: 2rem auto;
  }

  .social-links,
  .contact-links,
  .social-links a {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-wrap(wrap);
  }

  .social-links {
    a {
      @include size(3rem);
      margin: 0 1rem;
      border-radius: 50%;
      background: $color-primary;
    }

    a:hover {
      transform: scale(1.2);
    }
  }

  .contact-links {
    a {
      @include colored-link($black);
      text-decoration: none;
    }

    .hr {
      font-size: 1.5em;
      border-color: $grey;
    }
  }

  .terms {
    @include filter(grayscale(1));
    margin-top: 2rem;
    font-size: 0.8em;
    opacity: 0.5;
  }

  @media (max-width: $screen-sm-max) {
    .contact-links {
      @include flex-direction(column);

      a:not(:first-child) {
        margin-top: 1em;
      }
    }

    .hr {
      display: none;
    }
  }
}
